In [1]:
f=open('chronic_kidney_disease.arff','r')
lines = f.readlines()
f.close()


old=(' yes',' no',',,',',ckd,')
new=('yes','no',',',',ckd')

fw=open('chronic_kidney_disease_new.arff', 'w')
for line in lines:
    for check, rep in zip(old, new):
        line = line.replace(check, rep)
  
    fw.write(line)
fw.close()

In [2]:
import pandas as pd

with open('chronic_kidney_disease_new.arff', 'r') as fp:
    file_content = fp.readlines()

columns = []
len_attr = len('@attribute')

for line in file_content:
    if line.startswith('@attribute'):
        col_name = line[len_attr:].split()[0]
        col_name=col_name.replace("'","")
        columns.append(col_name)

data = []
with open('chronic_kidney_disease_new.arff', 'r') as f:
     for line in f.readlines()[30:]:
        line = line.replace('\n', '')
        data.append(line.split(','))

    
df = pd.DataFrame(data, columns=columns)
df = df[:-1]
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
1,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
2,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
3,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
4,60,90,1.015,3,0,?,?,notpresent,notpresent,74,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,55,80,1.020,0,0,normal,normal,notpresent,notpresent,140,...,47,6700,4.9,no,no,no,good,no,no,notckd
395,42,70,1.025,0,0,normal,normal,notpresent,notpresent,75,...,54,7800,6.2,no,no,no,good,no,no,notckd
396,12,80,1.020,0,0,normal,normal,notpresent,notpresent,100,...,49,6600,5.4,no,no,no,good,no,no,notckd
397,17,60,1.025,0,0,normal,normal,notpresent,notpresent,114,...,51,7200,5.9,no,no,no,good,no,no,notckd
398,58,80,1.025,0,0,normal,normal,notpresent,notpresent,131,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [3]:
df.isnull().sum()

age      0
bp       0
sg       0
al       0
su       0
rbc      0
pc       0
pcc      0
ba       0
bgr      0
bu       0
sc       0
sod      0
pot      0
hemo     0
pcv      0
wbcc     0
rbcc     0
htn      0
dm       0
cad      0
appet    0
pe       0
ane      0
class    0
dtype: int64

In [12]:
import numpy as np

df[:]=df[:].replace('?',np.nan)
df[:]=df[:].replace('	?',np.nan)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     390 non-null    object
 1   bp      387 non-null    object
 2   sg      352 non-null    object
 3   al      353 non-null    object
 4   su      350 non-null    object
 5   rbc     248 non-null    object
 6   pc      334 non-null    object
 7   pcc     395 non-null    object
 8   ba      395 non-null    object
 9   bgr     355 non-null    object
 10  bu      380 non-null    object
 11  sc      382 non-null    object
 12  sod     313 non-null    object
 13  pot     312 non-null    object
 14  hemo    347 non-null    object
 15  pcv     329 non-null    object
 16  wbcc    294 non-null    object
 17  rbcc    269 non-null    object
 18  htn     397 non-null    object
 19  dm      397 non-null    object
 20  cad     397 non-null    object
 21  appet   398 non-null    object
 22  pe      398 non-null    object
 23  ane     398 non-null    object
 24  class   399 non-null    object
dtypes: object(25)
memory usage: 78.1+ KB

In [10]:
num_cols = ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','pcv','wbcc','rbcc']

In [13]:
df[num_cols] = df[num_cols].apply(pd.to_numeric)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     390 non-null    float64
 1   bp      387 non-null    float64
 2   sg      352 non-null    float64
 3   al      353 non-null    float64
 4   su      350 non-null    float64
 5   rbc     248 non-null    object
 6   pc      334 non-null    object
 7   pcc     395 non-null    object
 8   ba      395 non-null    object
 9   bgr     355 non-null    float64
 10  bu      380 non-null    float64
 11  sc      382 non-null    float64
 12  sod     313 non-null    float64
 13  pot     312 non-null    float64
 14  hemo    347 non-null    float64
 15  pcv     328 non-null    float64
 16  wbcc    293 non-null    float64
 17  rbcc    268 non-null    float64
 18  htn     397 non-null    object
 19  dm      397 non-null    object
 20  cad     397 non-null    object
 21  appet   398 non-null    object
 22  pe      398 non-null    object
 23  ane     398 non-null    object
 24  class   399 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.1+ KB

In [16]:
for i in df.columns:
    print(df[i].unique())

[ 7. 62. 48. 51. 60. 68. 24. 52. 53. 50. 63. 40. 47. 61. 21. 42. 75. 69.
 nan 73. 70. 65. 76. 72. 82. 46. 45. 35. 54. 11. 59. 67. 15. 55. 44. 26.
 64. 56.  5. 74. 38. 58. 71. 34. 17. 12. 43. 41. 57.  8. 39. 66. 81. 14.
 27. 83. 30.  4.  3.  6. 32. 80. 49. 90. 78. 19.  2. 33. 36. 37. 23. 25.
 20. 29. 28. 22. 79.]
[ 50.  80.  70.  90.  nan 100.  60. 110. 140. 180. 120.]
[1.02  1.01  1.005 1.015   nan 1.025]
[ 4.  2.  3.  0. nan  1.  5.]
[ 0.  3.  4.  1. nan  2.  5.]
[nan 'normal' 'abnormal']
['normal' 'abnormal' nan]
['notpresent' 'present' nan]
['notpresent' 'present' nan]
[ nan 423. 117. 106.  74. 100. 410. 138.  70. 490. 380. 208.  98. 157.
  76.  99. 114. 263. 173.  95. 108. 156. 264. 123.  93. 107. 159. 140.
 171. 270.  92. 137. 204.  79. 207. 124. 144.  91. 162. 246. 253. 141.
 182.  86. 150. 146. 425. 112. 250. 360. 163. 129. 133. 102. 158. 165.
 132. 104. 127. 415. 169. 251. 109. 280. 210. 219. 295.  94. 172. 101.
 298. 153.  88. 226. 143. 115.  89. 297. 233. 294. 323. 125.  90. 308.
 118. 224. 128. 122. 214. 213. 268. 256.  84. 105. 288. 139.  78. 121.
 273. 242. 424. 303. 148. 160. 192. 307. 220. 447. 309.  22. 111. 261.
 215. 234. 131. 352.  80. 239. 110. 130. 184. 252. 113. 230. 341. 255.
 103. 238. 248. 120. 241. 269. 201. 203. 463. 176.  82. 119.  97.  96.
  81. 116. 134.  85.  83.  87.  75.]
[ 18.   53.   56.   26.   25.   54.   31.   60.  107.   55.   72.   86.
  90.  162.   46.   87.   27.  148.  180.  163.    nan  50.   75.   45.
  28.  155.   33.   39.  153.   29.   65.  103.   70.   80.   20.  202.
  77.   89.   24.   17.   32.  114.   66.   38.  164.  142.   96.  391.
  15.  111.   73.   19.   92.   35.   16.  139.   48.   85.   98.  186.
  37.   47.   52.   82.   51.  106.   22.  217.   88.  118.   50.1  71.
  34.   36.   40.   21.  219.   30.  125.  166.   49.  208.  176.   68.
 145.  165.  322.   23.  235.  132.   76.   42.   44.   41.  113.    1.5
 146.   58.  133.  137.   67.  115.  223.   98.6 158.   94.   74.  150.
  61.   57.   95.  191.   93.  241.   64.   79.  215.  309.   10. ]
[ 0.8   1.8   3.8   1.4   1.1  24.    1.9   7.2   4.    2.7   2.1   4.6
  4.1   9.6   2.2   5.2   1.3   1.6   3.9  76.    7.7    nan  2.4   7.3
  1.5   2.5   2.    3.4   0.7   1.   10.8   6.3   5.9   1.2   0.9   3.
  3.25  9.7   6.4   3.2  32.    0.6   6.1   3.3   6.7   8.5   2.8  15.
  2.9   1.7   3.6   5.6   6.5   4.4  10.2  11.5   0.5  12.2   5.3   9.2
 13.8  16.9   6.    7.1  18.    2.3  13.   48.1  14.2  16.4   2.6   7.5
  4.3  18.1  11.8   9.3   6.8  13.5  12.8  11.9  12.   13.4  15.2  13.3
  0.4 ]
[  nan 111.  142.  104.  114.  131.  138.  135.  130.  141.  139.    4.5
 136.  129.  140.  132.  133.  134.  125.  163.  137.  128.  143.  127.
 146.  126.  122.  147.  124.  115.  145.  113.  120.  150.  144. ]
[ nan  2.5  3.2  4.   3.7  4.2  5.8  3.4  6.4  4.9  4.1  4.3  5.2  3.8
  4.6  3.9  4.7  5.9  4.8  4.4  6.6 39.   5.5  5.   3.5  3.6  7.6  2.9
  4.5  5.7  5.4  5.3 47.   6.3  5.1  5.6  3.   2.8  2.7  6.5  3.3]
[11.3  9.6 11.2 11.6 12.2 12.4 10.8  9.5  9.4  9.7  9.8  5.6  7.6 12.6
 12.1 12.7 10.3  7.7 10.9  nan 11.1  9.9 12.5 12.9 10.1 12.  13.   7.9
  9.3 15.  10.   8.6 13.6 10.2 10.5  6.6 11.   7.5 15.6 15.2  4.8  9.1
  8.1 11.9 13.5  8.3  7.1 16.1 10.4  9.2  6.2 13.9 14.1  6.  11.8 11.7
 11.4 14.   8.2 13.2  6.1  8.  12.3  8.4 14.3  9.   8.7 10.6 13.1 10.7
  5.5  5.8  6.8  8.8  8.5 13.8 11.5  7.3 13.7 12.8 13.4  6.3  3.1 17.
 15.9 15.4 14.5 15.5 16.2 14.4 14.2 16.3 14.8 16.5 15.7 13.3 14.6 16.4
 16.9 16.  14.7 16.6 14.9 16.7 16.8 15.8 15.1 17.1 17.2 15.3 17.3 17.4
 17.7 17.8 17.5 17.6]
[38. 31. 32. 35. 39. 36. 44. 33. 29. 28. nan 16. 24. 37. 30. 34. 40. 45.
 27. 48. 52. 14. 22. 18. 42. 17. 46. 23. 19. 25. 41. 26. 15. 21. 43. 20.
 47.  9. 49. 50. 53. 51. 54.]
[ 6000.  7500.  6700.  7300.  7800.    nan  6900.  9600. 12100.  4500.
 12200. 11000.  3800. 11400.  5300.  9200.  6200.  8300.  8400. 10300.
  9800.  9100.  7900.  6400.  8600. 18900. 21600.  4300.  8500. 11300.
  7200.  7700. 14600.  6300.  7100. 11800.  9400.  5500.  5800. 13200.
 12500.  5600.  7000. 11900. 10400. 10700. 12700.  6800.  6500. 13600.
 10200.  9000. 14900.  8200. 15200.  5000. 16300. 12400. 10500.  4200.
  4700. 10900.  8100.  9500.  2200. 12800. 11200. 19100. 12300. 16700.
  2600. 26400.  8800.  7400.  4900.  8000. 12000. 15700.  4100.  5700.
 11500.  5400. 10800.  9900.  5200.  5900.  9300.  9700.  5100.  6600.]
[nan 3.9 4.6 4.4 5.  4.  3.7 3.8 3.4 2.6 2.8 4.3 3.2 3.6 4.1 4.9 2.5 4.2
 4.5 3.1 4.7 3.5 6.  5.2 2.1 5.6 2.3 2.9 2.7 8.  3.3 3.  2.4 4.8 5.4 6.1
 6.2 6.3 5.1 5.8 5.5 5.3 6.4 5.7 5.9 6.5]
['no' 'yes' nan]
['no' 'yes' '\tno' '\tyes' nan]
['no' 'yes' '\tno' nan]
['good' 'poor' nan]
['no' 'yes' nan]
['no' 'yes' nan]
['ckd' 'ckd\t' 'notckd']

In [17]:
df=df.replace(regex=r'\t', value='')

In [18]:
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
1,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
2,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
3,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
4,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,74.0,...,39.0,7800.0,4.4,yes,yes,no,good,yes,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,notckd
395,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,notckd
396,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,notckd
397,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,notckd
398,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,notckd

In [19]:
df.to_csv('chronic_kidney_disease.csv')